<p id="notice"><%= notice %></p>

<p>
  <b>Start:</b>
  <%= @meeting.start %>
</p>

<p>
  <b>End:</b>
  <%= @meeting.end %>
</p>

<p>
  <b>Room:</b>
  <%= @meeting.room %>
</p>


<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
